In [23]:
import pandas as pd

In [24]:
s = pd.Series(data=[100,'a',{'idc1':5}],
              index=pd.index(['id1',20,'third'],name='my_dix'),
              dtype='object',
              name='my_name')

AttributeError: module 'pandas' has no attribute 'index'

In [ ]:
s2 = pd.Series([100,'a',{'dic1':5}],['Pxxxx',111,'ssss'])

In [ ]:
s2.shape[0]

In [ ]:
d = {
    "英语":pd.Series([1.0,2.0,3.0],index=["a","b","c"]),
    "语文":pd.Series([1.0,2.0,3.0,4.0],index=["a","b","c","d"]),
    }
df = pd.DataFrame(d)

In [ ]:
book = {
    '作者':pd.Series(['余华','史铁生','莫言'],index=["a","b","c"]),
    '作品名称':pd.Series(['活着','我与地坛','红高粱'],index=["a","b","c"]),
}
df2 = pd.DataFrame(books)

In [ ]:
b=[1,2,3]

In [ ]:
b = [1:]

In [ ]:
i=df2.index.values

In [ ]:
df2[['作品名称','作者']]

   作品名称   作者
a    活着   余华
b  我与地坛  史铁生
c   红高粱   莫言

In [ ]:
df2.index

NameError: name 'df2' is not defined

In [ ]:
gzmt=pd.read_csv()

TypeError: read_csv() missing 1 required positional argument: 'filepath_or_buffer'

In [25]:
import pandas as pd
gzmt=pd.read_csv(R'data/600591.csv')

In [ ]:
list1=[1,2,3,4]
list1[0]

1

In [26]:
gzmt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4094 entries, 0 to 4093
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   day         4094 non-null   object
 1   STOCK_CODE  4094 non-null   int64
 2   open        4094 non-null   float64
 3   close       4094 non-null   float64
 4   maximum     4094 non-null   float64
 5   minimum     4094 non-null   float64
 6   volume      4094 non-null   int64
 7   TURNOVER    4094 non-null   int64
dtypes: float64(4), int64(3), object(1)
memory usage: 256.0+ KB

In [27]:
gzmt.describe()

,STOCK_CODE,open,close,maximum,minimum,volume,TURNOVER
count,4094.0,4094.000000,4094.000000,4094.000000,4094.000000,4094.000000,4.094000e+03
mean,6005191.0,182.161910,182.435230,184.879680,179.801353,27092.525892,6.487986e+08
std,0.0,165.857882,165.994905,168.082099,163.752065,24623.472099,9.550262e+08
min,6005191.0,20.900000,20.880000,21.000000,20.710000,238.000000,1.421413e+06
25%,6005191.0,47.405000,47.482500,48.222500,46.705000,10186.750000,6.203505e+07
50%,6005191.0,159.930000,159.980000,161.910000,157.875000,22491.000000,3.727192e+08
75%,6005191.0,208.500000,209.457500,212.175000,205.945000,36759.500000,7.486596e+08
max,6005191.0,800.000000,799.190000,803.500000,788.880000,406318.000000,1.066339e+10

In [29]:
gzmt[['open','close']].describe()

              open        close
count  4094.000000  4094.000000
mean    182.161910   182.435230
std     165.857882   165.994905
min      20.900000    20.880000
25%      47.405000    47.482500
50%     159.930000   159.980000
75%     208.500000   209.457500
max     800.000000   799.190000

In [30]:
result=gzmt['open'].unique()

In [32]:
result2=gzmt.close.value_counts()

In [31]:
gzmt.close.value_counts()

close
38.00     5
162.00    4
35.05     4
34.73     4
38.50     4
         ..
120.82    1
132.90    1
132.84    1
120.31    1
599.90    1
Name: count, Length: 3666, dtype: int64